 .todo-list {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  /*.add-todo {
    display: flex;
    margin-bottom: 20px;
  }
  
  .add-todo input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--gray-400);
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .add-todo button {
    background-color: var(--bright-blue);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .add-todo button:hover {
    background-color: var(--gray-900);
  } */