<div class="todo-list">
    <div class="add-todo">
      <!-- <input [(ngModel)]="newTodoTitle" placeholder="New todo"> -->
      <button (click)="addTodo()">Add</button>
    </div>
    @for (todo of todoService.getTodos(); track todo)
    {
        <!-- <app-todo [todo]="todo" (toggle)="toggleTodoCompletion($event)" (delete)="deleteTodo($event)"></app-todo> -->
    }
    <!-- <div *ngFor="let todo of todoService.getTodos()">        
      <app-todo [todo]="todo" (toggle)="toggleTodoCompletion($event)" (delete)="deleteTodo($event)"></app-todo>
    </div> -->
  </div>