<div class="app-container">
  <mat-toolbar color="primary">
    <span>{{ title }}</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item>
        <mat-icon>list</mat-icon>
        <span>Todo List</span>
      </button>
      <button mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <app-add-todo-global (newDateAdded)="handleDatesFromTodoList($event)"></app-add-todo-global>
  @for (date of todoListDates$ | async; track date) {
    <app-todo-list 
      [todos]="filterTodosByDate(date, (todos$ | async) ?? [])"
      (todoToggled)="onTodoToggled($event)"
      (todoDeleted)="onTodoDeleted($event)">
    </app-todo-list>
  }
</div>

<router-outlet />